<p>forgot-password works!</p>
<div class="row">
    <div class="form register">
        <div class="row">
            <div class="col-md-3">
                <div class="form-group">
                    <b>Old Password :</b>
                </div>
            </div>

            <div class="col-md-6">
                <div class="form-group">
                    <input [(ngModel)]="oldPassword" type="password" class="form-control">
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-3">
                <div class="form-group">
                    <b>New Password :</b>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <input [(ngModel)]="newPassword" type="password" class="form-control">
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-3">
                <div class="form-group">
                    <b>Confirm Password :</b>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <input [(ngModel)]="confirmPassword" type="password" class="form-control">
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <button (click)="onChangePassword()" class="btn btn-success">Update</button>
                    <button (click)="onCancel()" style="margin-left: 10px" class="btn btn-danger">Cancel</button>
                </div>
            </div>
        </div>
    </div>
</div>