<div style="background: #358CCE; height: 100px; ">
    <h1 style=" color: #FFF; position: relative; right: -10px; top: 30px">Founder:</h1>
</div>
<br />

<div class="container-fluid" style="background: none;">

    <table class="col-md-6" style="right: -10px;">
        <tr>
            <td>
                Name : Mandar Patne
            </td>
        </tr>
        <tr>
            <td>
                Address: New Sangvi
            </td>
        </tr>
        <tr>
            <td>
                City:Pune
            </td>
        </tr>
        <tr>
            <td>
                Mobile No. : 7385312745
            </td>
        </tr>
        <tr>
            <td>
                Email: <a href="mailto:#">mandarpatne93@gmail.com</a>
            </td>
        </tr>
    </table>

</div>

<br><br><br><br><br>

<div>
    <div style="background-color:cyan">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-4">
                    <h2>Our Mission</h2>
                    <p>
                        To provide right delivery at right time <br>
                        & Satisfy Customer and his Demands
                    </p>
                </div>
                <div class="col-md-4">
                    <h2>Our Promise</h2>
                    <p>
                        To deliver best quality product<br>
                        With right price
                        within very less time
                    </p>
                </div>
                <div class="col-md-4">
                    <h2>Our Essense</h2>
                    <p>
                        At our Core, Just BaggIt operates on <br>
                        Imagination, Individuality, & <br>
                        Impact
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="row">
            <div class="col-md-12">
                <h2>Our Vibe</h2>
                <p>
                    At Just BaggIt, We make Magic<br>
                    We dream it And then do it Together<br>
                    Everyday
                    Reinviting whats Possible
                </p>
            </div>
        </div>
    </div>
</div>