<nav class="navbar navbar-expand-lg navbar-light" style="background-color: skyblue">
    <!-- <a class="navbar-brand" href="#">BaggageIT</a> -->
    <div id="logo">
        <h1> <a href=""><span class="log-w3pvt">JusB</span>aggIt</a> <label class="sub-des">Online
                Store</label></h1>
    </div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#"><span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/productdetails">Bags</a>
            </li>
            <!--<li class="nav-item">
                <a class="nav-link" href="/login">SignIn</a>
            </li> -->
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    Categories
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" (click)="CategorySelect(1)">Handbags</a>
                    <a class="dropdown-item" (click)="CategorySelect(2)">Purses</a>
                    <a class="dropdown-item" (click)="CategorySelect(3)">Backpacks</a>
                    <a class="dropdown-item" (click)="CategorySelect(5)">TouristBags</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/custdash">Dashboard</a>
            </li>
        </ul>
        <!-- <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-warning my-2 my-sm-0" type="submit">Search</button>
      </form> -->
        <button class="btn btn-danger my-2 my-sm-0" (click)="onLogOut(username)">LogOut</button>
    </div>
</nav>

<div class="px-4 px-lg-0">
    <div class="pb-5">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 p-5 bg-white rounded shadow-sm mb-5">
                    <!-- Shopping cart table -->
                    <div class="table-responsive">
                        <div class="py-2 text-uppercase">
                            <h2 style="text-align: center">Your Orders</h2>
                        </div><br>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col" class="border-0 bg-light">
                                        <div class="p-2 px-3 text-uppercase">Product</div>
                                    </th>
                                    <th scope="col" class="border-0 bg-light">
                                        <div class="py-2 text-uppercase" style="text-align: center">Image</div>
                                    </th>
                                    <th scope="col" class="border-0 bg-light">
                                        <div class="py-2 text-uppercase">TotalPrice</div>
                                    </th>
                                    <th scope="col" class="border-0 bg-light">
                                        <div class="py-2 text-uppercase">Quantity</div>
                                    </th>
                                    <th scope="col" class="border-0 bg-light">
                                        <div class="py-2 text-uppercase">OrderDate</div>
                                    </th>
                                </tr>
                            </thead>
                            <tbody *ngFor="let orders of orderdetails">
                                <tr>
                                    <td class="border-1 align-middle"><strong>{{orders.productName}}</strong></td>
                                    <td class="image align-middle"><strong><img src="/assets/images/{{orders.image}}"
                                                style="width: 150px" alt="Wrong ImagePath"></strong></td>
                                    <td class="border-1 align-middle">
                                        <strong>{{orders.totalPrice | currency:'INR'}}</strong>
                                    </td>
                                    <td class="border-1 align-middle"><strong>{{orders.quantity | json}}</strong></td>
                                    <td class="border-1 align-middle">
                                        <strong>{{orders.orderDate}}</strong></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <!-- End -->
                </div>
            </div>
        </div>
    </div>
</div>